//@import "variables.less";

@import "../../../bower_components/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  width: 100%;
}
body {
}

.orgaLine { }

.label {
  fill:black;
  font-size: 12px;
}
.relations {
  fill:transparent;
  //stroke:red;
  stroke-width:3;
  // stroke-dasharray: 1,1;
}

text {
  font-weight: bold;
  text-transform: uppercase;
}
