//@import "variables.less";
@import "../../../bower_components/bootstrap/less/bootstrap.less";
// @import (less) "../../../bower_components/tipsy/src/stylesheets/tipsy.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  a { color: royalblue;}

}

text[active="0"], *[active="0"] text {
  font-weight: bold;
}

h1 { text-align: center;}


#explo {
  // line {shape-rendering: crispEdges; }
  font-size: 11px;

  .description, .update { opacity: 0}

  .title a {
    font-size: 2em;
    color:black;
  }

  .yearMark, .grid {
    stroke-dasharray:1,1;
  }

  .hoverZoneLines {
    shape-rendering: crispEdges;
    opacity: 0;
    stroke:gold;
  }

  .listItem { }
  .groupLabel { text-transform: uppercase;}

  .eventCaption {
    fill:black;
  }

  .event {
    .yearMark, .yearLabel { display: none;}

    &.newYear {
     .yearMark, .yearLabel {
        display: inherit;
      }
      .yearMark {
        stroke-width: 1px;
        stroke: black;
      }
    }
  }

  // .node {stroke-width:1px; stroke:white; }
  .nodeTimeline {stroke-linecap:round;}

  .taxis { color: red;}
  .taxis path { display: none; }
  .taxis line {
    stroke: #000;
    stroke-dasharray: 1,20;
  }
}
