//@import "variables.less";
@import "../../../bower_components/bootstrap/less/bootstrap.less";

html, body {
  height: 100%;
  width: 100%;
}

#timeline {

  .orgaLine { }

  .label {
    fill:black;
    font-size: 12px;
  }
  .relations {
    fill:transparent;
    //stroke:red;
    stroke-width:3;
    // stroke-dasharray: 1,1;
  }

  text {
    font-weight: bold;
    text-transform: uppercase;
  }
}

#force {
  .node {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
  }

  text {
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
  }
}

#forceTree {
  text {
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -5px -5px 5px #000 );
  }

  circle {
    stroke-width: 0;
  }

  .link {
    stroke: #999;
    stroke-opacity: .2;
    stroke-width: 11px;
    marker-end:"url(#triangle)";
  }

  .relTypeCaption {
    opacity: .5;
  }

  .axis path {
    display: none;
  }

  .axis line {
    shape-rendering: crispEdges;
    stroke: #000;
     stroke-dasharray: 10,5;
  }
}

#print {

  .box {
    shape-rendering: crispEdges;
    stroke-dasharray: 1,3;
  }
  font-weight: bold;

}
