<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css">
    <meta charset="utf-8">
  </head>
  <body id="{{template}}">
    <h1>{{title}}</h1>
    <input id="zoom" type="range" value="6" max="20" min="1" step="1">
    <script type="text/javascript" src="assets/js/lib.min.js"></script>
    <script type="text/javascript" src="assets/js/source.js"></script>
    <script type="text/javascript">const apiUrl = 'data/{{json}}';</script>
    <script type="text/javascript" src="assets/js/{{template}}.js"></script>
  </body>
</html>
